{% extends 'base.html.twig' %}

<<<<<<< HEAD
{% block title %}Hello RoomController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/sakho/Desktop/Symfony/gestionDeSalles/src/Controller/RoomController.php</code></li>
        <li>Your template at <code>C:/Users/sakho/Desktop/Symfony/gestionDeSalles/templates/room/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
=======
{% block title %}
	{# {{ room.name|slice(0, 15) }} #}
	Room...
{% endblock %}

{% block body %}
	<div class="container p-4">
		<div
			class="card p-2">
			{# A terme mettre changer la src par {{ room.picture}} #}
			<img src="/uploads/rooms/cover.jpg" class="card-img-top mx-auto mb-3 alt="Room" >
			<div class="card-body">
				{# Décommenter cette version lorsque la base de données sera finie #}
				{# 
									<div class="d-flex justify-content-between">
										<h5 class="card-title fw-bold">{{ room.name }}</h5>
										<p class="card-text fw-bold">Prix : {{ room.price }} €</p>
									</div>
									<p class="card-text  mb-4">Description : {{ room.description }}</p>

									<p class="card-text">Localisation : {{ room.country }}, {{ room.city }}</p> 
									<p class="card-text">Adresse : {{ room.address }}, {{ room.etage }}</p>
									<p class="card-text  mb-4">Capacité :{{ room.capacity }} personnes</p>
				#}

				<div class="d-flex justify-content-between">
					<h5 class="card-title fw-bold">Nom</h5>
					<p class="card-text fw-bold">Prix : 999 €</p>
					</p>
				</div>
				<p class="card-text mb-4">Description : Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id exercitationem quo enim ducimus, quis eum culpa? Quis quo unde ab mollitia libero ad perspiciatis quaerat inventore molestias. Eligendi, quas sequi?</p>

				
				<p class="card-text">Localisation : France, Franconville</p>
				<p class="card-text">Adresse : Lorem ipsum dolor sit, amet consectetur adipisicing elit, 3ème étage</p>
				<p class="card-text mb-4">Capacité : 20 personnes</p>
				
				{# Décommenter cette version lorsque la base de données sera finie #}
				{# <div class="d-flex gap-5">
                    <div class="d-flex flex-column">
                        <p class="card-text fw-bold">Features :</p>
                        {% for item in room.options %}
                            <p class="card-text">- {{ item.name }}</p>
                        {% endfor %}
                    </div>

                    <div class="d-flex flex-column">
                        <p class="card-text fw-bold">Materials :</p>
                        {% for item in room.options %}
                            <p class="card-text">- {{ item.name }}</p>
                        {% endfor %}
                    </div>

                    <div class="d-flex flex-column">
                        <p class="card-text fw-bold">Softwares :</p>
                        {% for item in room.options %}
                            <p class="card-text">- {{ item.name }}</p>
                        {% endfor %}
                    </div>
                </div> #}
			</div>
		</div>
	</div>{% endblock %}
>>>>>>> f94135be144b72297d91c989098705b3890aadcf
