{% extends 'base.html.twig' %}


{% block title %}
    All Rooms
{% endblock %}


{% block body %}
    {# {{ dump(rooms) }} #}
    <div class="container mt-4 ">
        <div class="text-center">
            <h1>Toutes les rooms</h1>
        </div>
            {# Filtres des rooms#}
            {# S'occuper des features avant de continuer #}


            {# <h3>Filtres</h3>
            <div class="row mt-3 mb-3">
                <div class="col">
                    <h4>Prix</h4>
                    <label for="priceRange" class="form-label">Sélectionner la fourchette de prix :</label><br>
                    <div class="mb-3 p-3">
                        <input type="text" id="priceRange" data-slider-min="150" data-slider-max="1500" data-slider-step="50" data-slider-value="[150,1500]"/>
                    </div>
                </div>
                <div class="col">
                    <h4>Capacité</h4>
                    <label for="capacityRange" class="form-label">Sélectionner la capacité :</label><br>
                    <input id="capacityRange" type="text" data-slider-min="1" data-slider-max="100" data-slider-step="5" data-slider-value="[1,100]"/>
                </div>
            </div> #}




        <div
            class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-3 g-4 mt-4 mb-4">
            {# {{ dump(rooms) }}; #}
            {% for room in rooms %}
                <div class="col">
                    <a href="{{path('app_room', {'id': room.id}) }}" class="text-decoration-none">
                        <div class="card text-center p-2">
                            <img src="{{room.picture}}" class="card-img-top" alt="{{room.name}}">
                            <div class="card-body">
                                <h5 class="card-title">{{ room.name }}</h5>
                                <p class="card-text">
                                    {{ room.description|slice(0, 150) }}...
                                </p>
                                <p class="card-text">Prix :
                                    <span class="fw-bold">{{ room.price }}
                                        €</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
<div class="d-flex justify-content-center">
	{{ knp_pagination_render(rooms) }}
</div>

    </div>


    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.min.css">
    {% endblock %}


    {% block javascripts %}
        {{ parent() }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js"></script>
        <script>
            // Initialisation du slider de prix
var slider = new Slider('#priceRange', {
min: 150,
max: 1500,
step: 50,
value: [150, 1500]
});


// Initialisation du slider de capacité
var capacitySlider = new Slider('#capacityRange', {
min: 1,
max: 100,
step: 5,
value: [1, 100]
});
        </script>
    {% endblock %}




{% endblock %}
